
.form{
    background-image: linear-gradient(to right, rgb(81, 210, 224) , rgb(255, 213, 0));
    width: 60%;
    height: 40rem;
    position: absolute;
    right: 320px;
   
}
.form form{
    font-size: 2rem;
    
    
}
.form form input{
    width: 300px;
    height: 30px;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}
.profession{
    font-size: 2rem;
}
.form form select{
    height: 35px;
}
.submit input{
    border-radius: 20px;
    background-color: #efaf0d;
}
.submit :hover{
    background-color: rgb(9, 61, 234);
    color: rgb(46, 250, 233);
}